.git
.github
.idea
.pytest_cache
.ruff_cache
.venv
AI_HealthCare_Final_Project
envs
frontend/dist
frontend/node_modules
app/__pycache__
ai_worker/__pycache__
app_worker/__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store
